* {
  font-family: "Merriweather", serif;
  color: black;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: #dffdff;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#header-name {
  margin-left: 20px;
}

.navbar {
  background-color: rgb(115, 133, 114);
}

.nav-link {
  font-family: "Birthstone", cursive;
  text-decoration: none;
  color: black;
  font-size: 65px;
}
.nav-link:hover {
  color: rgb(47, 47, 47);
}

.icon-size {
  font-size: 35px;
  display: inline;
  padding: 10px;
}

.fa-file-download {
  color: black;
}

.headshot {
  justify-content: center;
  align-items: center;
  width: 63%;
  height: 350px;
  border-radius: 60%;
  border: solid rgb(115, 133, 114) 1px;
}

.name-div {
  line-height: 3;
  letter-spacing: 1px;
  height: 300px;
}

.resume {
  color: black;
  padding: 5px 10px;
  border-radius: 3px;
}

.footer {
  margin-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(115, 133, 114);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.about-img {
  height: 550px;
  border: rgb(115, 133, 114) solid 1px;
}

.about-paragraph {
  line-height: 1.5;
  text-indent: 50px;
  letter-spacing: 3px;
}

.row-auth-wrapper {
  margin: auto;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  margin: 10px 10px;
  padding: 20px 30px;
  width: 100%;
  border-radius: 10px;
}
.form {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-header {
  margin-top: 0;
}

.submit-button {
  margin-top: 10px;
  padding: 10px;
  width: 20%;
  color: white;
  background-color: rgb(47, 47, 47);
  border-radius: 10px;
}

.submit-button:hover {
  background-color: rgb(115, 133, 114);
}

/* media queries */

@media only screen and (max-width: 1800px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 480px) {
}
